.article-list {
  display: flex;
  flex-direction: column;
}

.article-row-thumbnail {
  flex: 1;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1em;
}

.article-row-content {
  flex: 3;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1em;
}

.article-paragraphs {
  font-size: 22px;
  line-height: 33px;
  font-weight: 400;
}