.article-list {
  display: flex;
  flex-direction: column;
}

.article-row-thumbnail,
.article-row-thumbnail-height-constrained {
  flex: 1;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1em;
  text-align: center;
}

.article-row-thumbnail-height-constrained {
  width: 100px;
  height: 200px;
}

.article-row-thumbnail-height-constrained>img {
  object-fit: cover;
}

.article-row-content {
  flex: 3;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1em;
}

.article-paragraphs {
  font-size: 22px;
  line-height: 33px;
  font-weight: 400;
}