.article-list {
  display: flex;
  flex-direction: column;
}

.article-row-thumbnail {
  flex: 1;
  padding: 10px;
  /* 
		To center the image
	*/
  /* display: flex;
align-items: center; */
}

.article-row-content {
  flex: 3;
  padding: 10px;
}

.article-paragraphs {
  font-size: 22px;
  line-height: 33px;
  font-weight: 400;
}