.get-involved-body {
  color: #444;
  font-size: 22px;
  line-height: 33px;
  font-weight: 300;
  text-align: left;
}

.get-involved-title {
  flex: 1;
  text-align: right;
  padding-right: 2em;
}

.get-involved-description {
  flex: 3;
}