.hero {
  position: relative;
  width: 100%;
}

.hero-heading {
  display: flex;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 1px 1px rgba(48, 48, 48, 0.5);
  color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .hero-heading {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .hero-heading {
    font-size: 1.2rem;
  }
}