.mission-box {
  padding: 0px 20px;
}

.mission-landing-page-text {
  font-family: 'Arapey';
  font-size: 33px;
  font-style: italic;
  font-weight: 500;
  line-height: 44px;
}

.mission-quote {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}

.mission-quote-text {
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  font-family: 'Arapey';
  width: 100%;
  text-align: center;
}

.mission-quote-author {
  width: 100%;
  text-align: right;
  font-size: 20px;
  display: inline-block;
  padding-right: 200px;
}