.segment {
  padding: 0px 17px;
  text-align: center;
}

.segment-body {
  color: #444;
  font-size: 22px;
  line-height: 33px;
  font-weight: 300;
  text-align: left;
}

.segment-title {
  margin: 1em 0px;
  font-size: 1.75rem;
  font-weight: 500;
}