.header {
	text-align: center;
	font-weight: bold;
	margin: 1rem 0rem;
	font-size: 1.5rem;
}

.space-2 {
	margin: 1rem;
	padding: 1rem;
}

.space-4 {
	margin: 2rem;
	padding: 2rem;
}

.button {
	border-color: #474849;
	border-width: 2px;
	border-radius: 0.25rem;
	background-color: inherit;
	box-shadow: none;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-sm {
	font-size: 0.75rem;
}

.row {
	display: flex;
	flex-direction: row;
}

.col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex-1 {
	flex: 1;
}

.flex-2 {
	flex: 2;
}

.blue-button {
	text-transform: uppercase;
	padding: 13px 23px;
	border-width: 2px;
	border-radius: 0.25rem;
	border-style: solid;
	border-color: #38A3BD;
	background-color: white;
	color: #38A3BD;
	display: inline-block;
	cursor: pointer;
}

.clickable-link {
	text-decoration: underline;
	color: #38A3BD;
}
