.space-2 {
  margin: 1rem;
  padding: 1rem;
}

.space-4 {
  margin: 2rem;
  padding: 2rem;
}

.button {
  border-color: #474849;
  border-width: 2px;
  border-radius: 0.25rem;
  background-color: inherit;
  box-shadow: none;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.blue-button {
  text-transform: uppercase;
  padding: 13px 23px;
  border-width: 2px;
  border-radius: 0.25rem;
  border-style: solid;
  border-color: #38A3BD;
  background-color: white;
  color: #38A3BD;
  display: inline-block;
  cursor: pointer;
}

a.blue-button {
  text-decoration: none;
}

.clickable-link {
  text-decoration: underline;
  color: #38A3BD;
}

.strong-paragraph {
  color: #444;
  font-size: 22px;
  line-height: 33px;
  font-weight: 300;
}

.paragraph-with-header-header {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  display: block;
  padding-right: 2em;
}

.row {
  display: flex;
  flex-direction: row;
}

.d-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.d-flex.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .space-2 {
    margin: 0.5rem;
    padding: 0.5rem;
  }

  .space-4 {
    margin: 1rem;
    padding: 1rem;
  }

  .strong-paragraph {
    font-size: 18px;
    line-height: 28px;
  }

  .paragraph-with-header-header {
    text-align: left;
    padding-right: 0;
    font-size: 1.25rem;
  }

  .d-flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .d-flex > div {
    text-align: center !important;
  }

  .d-flex > div img {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .row {
    flex-direction: column;
  }
}